@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin xs {
  @media (max-width: 600px) {
    @content;
  }
}

// Extra small	xs	Small to large phone	< 600px
// Small	sm	Small to medium tablet	600px > < 900px
// Medium	md	Large tablet to laptop	900px > < 1200px*
// Large	lg	Desktop	1200px > < 1800px*
// Extra large	xl	4k and ultra-wide	> 1800px*
$sizes: (
  phone: 600px,
  tab-port: 900px,
  tab-land: 1200px,
  big-desktop: 1800px,
);

@mixin media($size, $range: "max") {
  @if map-has-key($sizes, $size) {
    $size-value: map-get($sizes, $size);
    @media only screen and (#{$range}-width: $size-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$size}.';
  }
}
