:root {
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px
  padding: 3rem;
  @include media(tab-land) {
    font-size: 56.25%; //9px
  }
  @include media(tab-port) {
    font-size: 50%; //8px
    padding: 0;
  }
  @include media(big-desktop, "min") {
    font-size: 75%; //12px
  }
}

body {
  box-sizing: border-box;
}
